.vision {
  padding-block: 72px;
  background-color: $page-background-layer1-color;

  &__wrap {
/*     display: flex;
    flex-direction: column;
    align-items: center; */

    margin: 72px 20px;

    @include on-tablet {
      margin: 200px 41px;
    }

    @include on-desktop-small {
      margin-inline: auto;
      width: 754px;
    }
  }

  &__title {
    margin-bottom: 24px;

    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    text-align: center;
    color: $main-title-color;
  }

  &__text {
    margin-bottom: 56px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: $main-text-color;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    height: 56px;

    background-color: $design-main-color;
    border-radius: 8px;

    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: $button-text-color;

    @include on-tablet {
      width: 264px;
    }
  }
}
