@mixin on-mobile {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop-small {
  @media (min-width: $desktop-sm-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-large-screen {
  @media (min-width: $lrg-scr-min-width) {
    @content;
  }
}

@mixin padding-inline() {
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    padding-inline: $padding-inline-tablet;
  }

  @include on-desktop-small {
    padding-inline: $padding-inline-desktop-small;
  }

  @include on-desktop {
    padding-inline: $padding-inline-desktop;
  }

  @include on-large-screen {
    padding-inline: $padding-inline-large-screen;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 26px;

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop-small {
    --columns: 12;
  }
}

@mixin page-subgrid($columns) {
  --columns: $columns;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 26px;

  @include on-tablet {
    column-gap: 30px;
  }
}

