$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-sm-min-width: 1024px;
$desktop-min-width: 1600px;
$lrg-scr-min-width: 2560px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 41px;
$padding-inline-desktop-small: 54px;
$padding-inline-desktop: 227px;
$padding-inline-large-screen: 707px;
$header-background-color: #2C2C2C;
$header-text-color: #FFF;
$footer-background-color: #2C2C2C;
$footer-text-color: #FFF;
$page-background-layer0-color: #F2F6FA;
$page-background-layer1-color: #FFF;
$main-title-color: #253757;
$main-subtext-color: #C0CDD7;
$main-text-color: #6C788B;
$design-main-color: #2060F6;
$button-background-color: #2060F6;
$button-text-color: #FFF;
$button-arrow-size: 40px;
$quot-icon-size: 24px;

